@import 'src/styles/breakpoints';

.projects {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2em;
  grid-gap: 2em;

  // @include respond-above(sm) {
  //   grid-gap: 1em;
  // }
}
