@import "src/styles/common";
@import "src/styles/breakpoints";

.projects {
  padding-top: 3em;
  background-color: var(--background-section, var(--color-white));

  @include respond-above(sm) {
    padding-top: 8em;
  }

  .projectsWrapper {
    @extend .container;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2em;
    padding-top: 2em;
    justify-items: center;
    
    @include respond-above(sm) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 2.5em;
    }
    
    @include respond-above(lg) {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
