html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.App-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  margin: 0;
  padding: 0;
}

.navbar {
  min-height: 60px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #007bff;
  z-index: 50;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.nav-link {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.navbar-nav .nav-link {
  padding: 0 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-item > a {
  font-size: 1.4rem;
  cursor: pointer;
}

#welcome-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #000;
  min-height: 100vh;
}

#welcome-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url('./img/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

h1 span {
  display: inline-block;
  -webkit-animation: float 0.2s ease-in-out infinite;
  animation: float 0.2s ease-in-out infinite;
}

@-webkit-keyframes float {
  0%,
  100% {
    -webkit-transform: none;
    transform: none;
  }

  33% {
    -webkit-transform: translateY(-1px) rotate(-2deg);
    transform: translateY(-1px) rotate(-2deg);
  }

  66% {
    -webkit-transform: translateY(1px) rotate(2deg);
    transform: translateY(1px) rotate(2deg);
  }
}

@keyframes float {
  0%,
  100% {
    -webkit-transform: none;
    transform: none;
  }

  33% {
    -webkit-transform: translateY(-1px) rotate(-2deg);
    transform: translateY(-1px) rotate(-2deg);
  }

  66% {
    -webkit-transform: translateY(1px) rotate(2deg);
    transform: translateY(1px) rotate(2deg);
  }
}

#welcome-section span {
  color: hsl(120, 50%, 50%);
  text-shadow: 1px 1px hsl(120, 50%, 20%), 2px 2px hsl(120, 50%, 20%),
    3px 3px hsl(120, 50%, 20%), 4px 4px hsl(120, 50%, 20%);
}

#welcome-section:hover span {
  -webkit-animation: bounce 1.5s;
  animation: bounce 1.5s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  25% {
    -webkit-transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }

  50% {
    -webkit-transform: translateY(-20px) rotate(3deg) scale(1.1);
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  25% {
    -webkit-transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }

  50% {
    -webkit-transform: translateY(-20px) rotate(3deg) scale(1.1);
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

/* span:nth-child(4n) { color:hsl(186, 30%, 37%); text-shadow:1px 1px hsl(186, 30%, 26%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); } */

#welcome-section span:nth-child(2) {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

#welcome-section span:nth-child(3) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#welcome-section span:nth-child(4) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

#welcome-section span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#welcome-section span:nth-child(6) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

#welcome-section span:nth-child(8) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#welcome-section span:nth-child(9) {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

#welcome-section span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#welcome-section span:nth-child(12) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

#welcome-section span:nth-child(13) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#welcome-section span:nth-child(14) {
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}

#welcome-section span:nth-child(15) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#welcome-section span:nth-child(16) {
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

#welcome-section span:nth-child(17) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#welcome-section span:nth-child(18) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

#welcome-section span:nth-child(19) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#welcome-section span:nth-child(20) {
  -webkit-animation-delay: 0.85s;
  animation-delay: 0.85s;
}

.welcome-title {
  padding: 0;
  font-size: 4rem;
  text-align: center;
  line-height: 96px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#welcome-section p {
  font-size: 3rem;
  color: rgb(230, 27, 27);
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 30px;
  background-color: rgb(50, 50, 168);
}

#projects h2 {
  text-align: center;
  margin: 40px 0px;
  font-size: 2.5rem;
  color: #fff;
}

.center-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.center-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
}

.bubbles h1 {
  position: relative;
  margin: 1em 0 0;
  font-family: 'Luckiest Guy', cursive;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 46px;
  color: #fff;
  z-index: 2;
}

.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1;
}

.projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 4em;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  margin-top: 2.5em;
  margin-bottom: 6em;
}

.projects-grid a {
  text-decoration: none;
  color: #fff;
}

.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.project__item:hover {
  box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.15),
    0px 2px 3px rgba(255, 255, 255, 0.15), 0px 1px 3px rgba(255, 255, 255, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.project__item_image {
  display: block;
  line-height: 0;
}

.project__item:hover .project-tile--code {
  opacity: 1;
  text-decoration: none;
}

.project-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 60px;
  background-color: rgb(80, 68, 68);
  text-decoration: none;
}

.project-tile--code {
  opacity: 0;
  color: rgb(214, 122, 9);
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  text-decoration: none;
  font-size: 1.5rem;
  margin: -6px 10px -7px 10px;
}

.project-tile span {
  text-decoration: none;
}

.contact-section {
  padding: 30px 10px;
  background-color: #303841;
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  margin-bottom: 40px;
}

.contact-header h2 {
  font-size: 3.6rem;
  padding: 30px 0 0px 0;
  text-align: center;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  font-size: 1.4rem;
}

.contact-details svg {
  margin-right: 10px;
}

.contact-details:hover {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  color: #fff;
}

.contact-details:hover path {
  fill: #777;
}

.new-line {
  display: none;
}

@media (max-width: 1024px) {
  .welcome-title {
    margin-top: -5rem;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .new-line {
    display: block;
  }

  #welcome-section p {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  .bubbles h1 {
    line-height: 66px;
  }
}

@media (max-width: 576px) {
  .navbar-nav {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .nav-item {
    margin-right: 0px;
  }

  .welcome-title {
    margin-top: -6rem;
    margin-bottom: 30px;
  }

  #welcome-section p {
    font-size: 2rem;
    margin: 0;
  }

  .projects-grid {
    grid-gap: 1em;
  }

  .project__item {
    margin-bottom: 0.8em;
  }

  .contact-header {
    margin-bottom: 10px;
  }

  .contact-header h2 {
    font-size: 2.6rem;
  }

  .contact-details {
    margin-bottom: 0.5rem;
  }

  .contact-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
