@import 'src/styles/colors';

.proggressWrapper {
    display: flex;
    grid-gap: 0.5em;
    align-items: center;
}

.progress {
    background: rgba(38, 31, 31, 0.5);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 100%;
    margin: 0 5px;
    
    .value {
        border-radius: 100px;
        height: 30px;
        width: 0;
        transition: width 2s ease-out;
        // animation: load 3s normal forwards;

        &.primary {
            box-shadow: 0 10px 40px -10px $primary;
            background: $primary;
        }
        &.danger {
            box-shadow: 0 10px 40px -10px $danger;
            background: $danger;
        }
        &.warning {
            box-shadow: 0 10px 40px -10px $warning;
            background: $warning;
        }
        &.success {
            box-shadow: 0 10px 40px -10px $success;
            background: $success;
        }
        &.info {
            box-shadow: 0 10px 40px -10px $info;
            background: $info;
        }
    }
    
    &.reverse {
        transform: rotate(180deg);
    
        .value {
            box-shadow: 0 -10px 40px -10px $primary;        
        }

    }

    @keyframes load {
        0% { width: 0; }
        100% { width: 68%; }
    }
  }