@import 'src/styles/colors';

.proggressWrapper {
    display: flex;
    grid-gap: 0.5em;
    align-items: center;
}

.progress {
    background: var(--color-toggle-gray-dark);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 100%;
    margin: 0 5px;
    
    .value {
        border-radius: 100px;
        height: 30px;
        width: 0;
        transition: width 1.5s ease-out;

        &.primary {
            box-shadow: 0 10px 40px -10px var(--color-primary);
            background: var(--color-primary);
        }
        &.secondary {
            box-shadow: 0 10px 40px -10px var(--color-secondary);
            background: var(--color-secondary);
        }
        &.danger {
            box-shadow: 0 10px 40px -10px var(--color-danger);
            background: var(--color-danger);
        }
        &.warning {
            box-shadow: 0 10px 40px -10px var(--color-warning);
            background: var(--color-warning);
        }
        &.success {
            box-shadow: 0 10px 40px -10px var(--color-success);
            background: var(--color-success);
        }
        &.info {
            box-shadow: 0 10px 40px -10px var(--color-info);
            background: var(--color-info);
        }
    }
    
    &.reverse {
        transform: rotate(180deg);
    
        .value {
            box-shadow: 0 -10px 40px -10px var(--primary);        
        }

    }

    @keyframes load {
        0% { width: 0; }
        100% { width: 68%; }
    }
  }