@import 'src/styles/colors';

.button {
    position: fixed;
    right: 2em;
    bottom: 2em;
    width: 2.5em;
    height: 2.5em;

    z-index: 11;
    background-color: transparent;
    border: 2px solid var(--color-primary-light);
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: action 1s infinite alternate;

    &.visible {
        opacity: 1;
    }

    &::before {
        content: '';
        border: solid var(--color-primary-light);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;    
        transform: rotate(-135deg);
    }

    &::after {
        content: '';
        height: 3em;
        width: 3em;
        display: block;
        position: absolute;
        top: -15%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}