@import "../../../styles/colors";
@import "../../../styles/breakpoints";

.sectionTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
  overflow: hidden; // Prevent background text from overflowing

  text-transform: uppercase;
  font-family: var(--font-unbounded), "Unbounded", sans-serif;
  font-weight: 500;

  line-height: 1;

  .sectionTitle__bgText {
    position: absolute;
    font-size: 2.5rem;
    color: transparent;
    -webkit-text-stroke: 1.5px var(--color-primary-light);
    opacity: 0.3;
    letter-spacing: 0.5rem;
    white-space: nowrap;
    font-weight: 900;

    @include respond-above(xs) {
      font-size: 4rem;
      letter-spacing: 0.5rem;
    }
    @include respond-above(sm) {
      font-size: 7rem;
      letter-spacing: 1rem;
    }
    @include respond-above(Xlg) {
      font-size: 9rem;
      letter-spacing: 2rem;
    }
  }

  .sectionTitle__title {
    font-size: 2.2rem;
    font-family: var(--font-unbounded), "Unbounded", sans-serif;
    font-weight: 500; // Для Bebas Neue 400 це стандарт
    background: -webkit-linear-gradient(
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;

    -webkit-text-stroke: 0.5px var(--color-primary-dark);
    letter-spacing: 0.2rem;
    margin: 0;

    @include respond-above(xs) {
      font-size: 3.5rem;
    }
    @include respond-above(sm) {
      font-size: 4.5rem;
    }
    @include respond-above(xlg) {
      font-size: 5.5rem;
    }
  }
}
