.app {
    --color-primary: #3a22a7;
    --color-primary-dark: #180a55;
    --color-primary-light: #26bde3;
    
    --color-secondary: #1db199;
    --color-secondary-light: #49f9db;
    --color-secondary-dark: #1a7466;

    --color-white: rgb(245, 245, 245);
    --color-black: #000;
    --color-light: #afaeae;
    --color-dark: rgb(69, 68, 68);

    --color-toggle-light: #fff;
    --color-toggle-dark: rgb(146, 132, 132);
    --color-toggle-gray-dark: #555;

    --color-gray: #555;
    --color-gray-light: #aaa;
    --color-toggle-gray: #555;
    --color-toggle-gray-light: #aaa;


    --color-danger: #f33232;
    --color-warning: rgb(240, 240, 76);
    --color-success: rgb(24, 220, 73);
    --color-info: rgb(90, 123, 214);

    --background-navbar: rgb(245, 245, 245, 0.96);
    --shadow-navbar: rgba(0, 0, 0, 0.3);
    
    // SHADOWS
    --card-shadow: rgb(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
    .app {
        --color-primary: var(--color-primary-light);
        
        --background-navbar: rgb(28, 41, 54, 0.96);
        --shadow-navbar: rgb(200, 200, 200, 0.3);

        --color-toggle-gray-dark: #ddd;
        --color-toggle-dark: rgb(144, 136, 136);
  
        --color-toggle-gray: rgb(219, 202, 202);
        --color-toggle-gray-light: rgb(156, 146, 146);
    }
  }
