$primary: #1db199;
$primary-light: #49f9db;
$primary-dark: #178f62;
$primary-dark-hover: #054a31;

$secondary: #17a2b8;
$secondary-light: #4fdef4;

$background-main: #666;
$background-two: #f9f9f3;

$disabled: #d7d7d7;
$primary-hover: #343675;
$primary-active: #666666;
$secondary-hover: #d24335;

$background-card: #dcdcd9;
$background-button: #a7a7a7;

$color-white: #f5f5f5;
$color-black: #000;
$color-gray: #555;
$color-gray-light: #aaa;

$danger: #f33232;
$warning: rgb(240, 240, 76);
$success: rgb(24, 220, 73);
$info: rgb(226, 104, 216);