@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.app {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    position: relative;
    margin: 0 auto;
    min-height: calc(100vh - 60px);
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    border-radius: 40px;
    color: $primary;
    letter-spacing: 2px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
      -2px -2px 12px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.2s linear;
  
    &:hover {
      color: $primary;
      box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
        inset -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    }
  
    &:hover span {
      display: inline-block;
      transform: scale(0.98);
    }
  }
  
  .typed-cursor{
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
  }
  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  }
  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  }
  .typed-fade-out{
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
  }

  .section--title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: 700;
    color: $primary-dark;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    @include respond-above(xs) {
      font-size: 3.5rem;
    }

    -webkit-text-stroke: 1px $primary-dark-hover;
    text-stroke: 1px $primary-dark-hover;

    &::before {
        content: attr(data-background-text);
        position: absolute;
        transform: translateY(0.5rem);
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px $primary;
        text-stroke: 1px $primary-light;
        z-index: -1;
        opacity: 0.5;

        @include respond-above(xs) {
            letter-spacing: 1.33rem;
            font-size: 4.5rem;
          }
        @include respond-above(sm) {
          font-size: 5.5rem;
        }
        // @include respond-above(lg) {
        //   font-size: 3.5rem;
        // }
    }
}
