@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.app {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    margin: auto;
    max-width: min(90%, 80em);
  }
  
  .btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    border-radius: 40px;
    color: var(--primary);
    letter-spacing: 2px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
      -2px -2px 12px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.2s linear;
  
    &:hover {
      color: var(--primary);
      box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
        inset -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    }
  
    &:hover span {
      display: inline-block;
      transform: scale(0.98);
    }
  }
  
  .typed-cursor{
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
  }
  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  }
  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  }
  .typed-fade-out{
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
  }

.paralax {
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.arrow-next {
  display: none;
  position: absolute;
  bottom: 2em;
  left: 50%;
  animation: action 1s infinite alternate;

    @keyframes action {
      0% {
          transform: translateY(0);
      }
  
      100% {
          transform: translateY(-15px);
      }
  }

  &::before {
    content: '';
    border: solid var(--color-primary-light);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;    
    transform: rotate(45deg);
  }   
  @include respond-above(lg) {
    display: inline;
  }
}