@import 'src/styles/breakpoints';

.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
  grid-gap: 1em;

  @include respond-above(sm) {
    grid-gap: 1em;
  }
}
