@import 'src/styles/breakpoints';
@import 'src/styles/common';

.skills {
    position: relative;
    padding: 5em 0;
    min-height: 100vh;

    @extend .paralax;
    &::before {
        background-image: url("/img/develop.jpeg");
    }

    .progressWrapper {
        @extend .container;
        display: flex;
        flex-direction: column;
        grid-gap: 1em;
        opacity: 0;
        transition: opacity 1s ease-out;
        padding-top: 4em;

        &.show {
            opacity: 1;
        }

        @include respond-above(sm) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2em;
        }

        .progressItem {
            display: flex;
            flex-direction: column;
            grid-gap: 0.3em;

            .progressTitle {
                font-weight: 500;
                font-size: 1.5rem;
                text-transform: uppercase;

                &.flexEnd {
                    align-self: flex-end;
                }
            }

        }
    }
}