.InfoItem {
  display: flex;
  grid-gap: 0.5em;
  flex: 0.5;
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-dark);
  min-width: 19em;

  &__label {
    font-weight: 700;
  }

  &__value {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: 500;
    white-space: nowrap;

    &.success {
      color: var(--color-success);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &[data-icon="github"] {
      img {
        filter: brightness(0) saturate(100%);
      }
    }
  }
}

:global([data-theme="dark"]) .InfoItem__icon[data-icon="github"] {
  img {
    filter: brightness(0) saturate(100%) invert(1);
  }
}
