.InfoItem {
    display: flex;
    grid-gap: 0.5em;
    flex: 0.5;
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-dark);

    &__value {
        font-weight: 500;
        white-space: nowrap;
        
        &.success {
            color: var(--color-success);
        }
    }
}