.card {
  display: flex;
  flex-basis: 24em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);

  padding: 2.5em 0 2em 0;

  transition: box-shadow 0.4s ease;

  &:hover,
  &:focus {
    box-shadow: 0 0 10px 3px var(--card-shadow);
  }

  .image {
    max-width: 80%;
    height: auto;
    margin-bottom: 1em;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0.1em;
  }

  .description {
    text-align: center;
    max-width: 90%;
    color: var(--color-gray);
  }
}
