@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.header {
  $gradient: linear-gradient(
    133deg, rgba(129, 223, 118, 0.75) 0%,
    rgba(90, 218, 44, 0.75) 19%,
    rgba(38,215,166,0.75) 46%,
    rgba(0,255,184,0.75) 73%,
    rgba(0,146,255,0.75) 100%
  );

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 1em;
  justify-content: center;
  background: rgb(129,223,118);
  background: $gradient;
  margin-top: -5em;
  
  @include respond-above(sm) {
    grid-gap: 1.5em;
    flex-direction: row;
  }
  @include respond-above(lg) {
    grid-gap: 3em;
  }
  

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .image {
      border-radius: 50%;
      max-width: 90%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    grid-gap: 0.5em;
    color: $color-white;
    
    h3 {
      font-size: 1rem;
      color: $color-white;
    
      @include respond-above(xs) {
        font-size: 2rem;
      }

      @include respond-above(sm) {
        font-size: 3rem;
      }
    }

    .name {
        color: transparent;
        font-size: 2rem;
        -webkit-text-stroke: 3px $color-white;
        text-stroke: 3px $color-white;

        
      @include respond-above(xs) {
        font-size: 3.5rem;
      }
      
      @include respond-above(sm) {
        font-size: 5rem;
      }
      @include respond-above(lg) {
        font-size: 7rem;
      }
    }

    .skills {
        min-height: 1em;
        font-size: 2rem;
    }
  }

  .download {
    align-self: flex-start;
    color: $color-white;
    font-weight: 500;
    padding: 1em 2em;
    margin-top: 1em;
    border: 2px solid $color-white;
    border-radius: 30px;
    transition: 0.3s ease;
    background-color: transparent;
    cursor: pointer;

    @include respond-above(sm) {
      margin-top: 2em;
    }

    &:hover {
      color: $secondary;
      border-color: $secondary;
    }
  }

  .arrow {
    display: none;
    position: absolute;
    bottom: 2em;
    left: 50%;
    animation: action 1s infinite alternate;

      @keyframes action {
        0% {
            transform: translateY(0);
        }
    
        100% {
            transform: translateY(-15px);
        }
    }

    &::before {
      content: '';
      border: solid $color-white;
      border-width: 0 5px 5px 0;
      display: inline-block;
      padding: 8px;    
      transform: rotate(45deg);
    }   
  }
}