@import "src/styles/colors";
@import "src/styles/breakpoints";

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  
  display: none;
  justify-content: center;
  align-items: center;

  background-color: var(--background-navbar);
  z-index: 100;
  box-shadow: 0 1px 10px 1px var(--shadow-navbar);
  opacity: 0;
  transition: opacity 0.3s ease;

  @include respond-above(xs) {
    display: flex;
  }

  &.visible {
    opacity: 1;
  }

  .links {
    display: flex;
    grid-gap: 2em;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;

    @include respond-above(xs) {
      grid-gap: 2.5em;
    }
    @include respond-above(sm) {
      grid-gap: 4em;
    }

    .link {
      color: var(--color-gray-light);
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-gray);
      }
    }
  }
  
  .main-link {
    color: #fff;
    font-size: 1.6rem;
  }
}

