.TextInput {
    &__label {
        font-size: 1rem;
        font-weight: 500;
    }

    &__input {
        width: 100%;
        padding: 0.5em 0.8em;
        border: 2px solid var(--color-primary-light);
        border-radius: 5px;
        margin-bottom: 1.01em;

        &:focus,
        &:active {
            border-color: var(--color-primary-dark);
        }
        &::placeholder {
            font: inherit;
        }
        &.error {
            border-color: var(--color-danger);
            margin-bottom: 0;
        }
    }

    textarea.TextInput__input {
        resize: vertical;
        min-height: 120px;
        max-height: 500px;
    }

    &__errors {
        color: var(--color-danger);
        margin-top: 0.1em;
        font-size: 0.8rem;
    }
}